# Conda / virtual environments
mlopsenv/
.venv/
env/
venv/
*.egg-info/


# Python cache
__pycache__/
*.pyc

# Profiling output
*.prof
log/
*.prof
trace.json
reports/profiling/*.prof

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data and Models
data/
models/
*.pt
*.pth

# Weights & Biases logs
wandb/

# Secret API keys
.env

# Logs
*.log

# Pytest cache
.pytest_cache/
