# Conda / virtual environments
mlopsenv/
.venv/
env/
venv/
*.egg-info/


# Python cache
__pycache__/
*.pyc

# Profiling output
*.prof
reports/profiling/
log/
*.prof
trace.json


# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data and Models
data/
models/

# Weights & Biases logs
wandb/

# Secret API keys
.env

# Logs
*.log

# API keys
.env
/data
